#map {
    height: 600px;
    width: 100%;
    display: inline-block;
}


.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.legend-control-container {  
    width: 200px;  
    height: 90px;  
    background-color: rgba(255, 255, 255, 0.507);  
    padding: 5px;  
    line-height: 0px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 150px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

#reverse{
    float:left;
}
#forward{
    float: right;
}